@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.max-logo-image {
  max-width: 960px;
  width: 100%;

  outline: 2px solid var(--bs-primary-border-subtle);
  outline-offset: 5px;

  //image-rendering: -moz-crisp-edges;
  //image-rendering: pixelated;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100%;
  max-width: 1200px;
}

.main-card {
  --bs-card-bg: rgba(255, 255, 255, 0.66);
  backdrop-filter: blur(4px);
  box-shadow: inset 1px 1px rgba(255, 255, 255, 0.2), inset -1px -1px rgba(255, 255, 255, 0.1), 1px 3px 24px -1px rgba(0, 0, 0, 0.15);

  width: 100%;

  .card-body {

  }
}

input[type=color]:disabled {
  opacity: 0.5;
}

input[type=file]:disabled {
  opacity: 0.75;
}

.big-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 1rem 3rem;

  font-size: 1.5rem;

  > svg {
    margin-bottom: 0.2em;
  }

  &.progress-bar-striped {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-hover-bg);

    --bs-progress-height: 2rem;
    --bs-progress-width: 5rem;
  }
}

.medium-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 1rem 2.25rem;

  font-size: 1.5rem;

  > svg {
    margin-bottom: 0.2em;
  }
}

.connect-button {
  padding: 0.5rem 2rem;

  font-size: 1.25rem;

  > svg {
    margin-bottom: 0.2em;
  }
}

.logo-slot-button {
  --bs-border-width: 2px;
  padding-left: 0;
  padding-right: 0;
}

.gallery-image-button {
  --bs-btn-border-width: 3px;
  $checker-color-1: #222;
  $checker-color-2: #111;

  padding: 0;
  border:0;
  outline: 3px solid var(--bs-primary-border-subtle);
  outline-offset: 4px;
  border-radius: 0;
  background-position: 0 0, 16px 16px;
  background-size: 32px 32px;
  background-image:
          linear-gradient(45deg, $checker-color-2 25%, transparent 25%, transparent 75%, $checker-color-2 75%, $checker-color-2 100%),
          linear-gradient(45deg, $checker-color-2 25%, $checker-color-1 25%, $checker-color-1 75%, $checker-color-2 75%, $checker-color-2 100%);

  img {
    width: 100%;
    height: auto;
  }
}